body{
margin: 0;
font-family: sans-serif;
background-color: rgb(58, 57, 57);
}


#container{
background: linear-gradient( rgba(0, 0, 0, 0.622), rgba(6, 5, 5, 0.951)), url(../img/banner.jpg);
height: 690px;
padding: 25px;
}

#logo{
width: 180px;
}

#header{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
}

select{
padding: 7px 18px;
font-size: 14px;
color: white;
background-color: transparent;  
background-image: url(../img/icone.png);
background-repeat: no-repeat;
background-size: 15px;
background-position: left;
border-radius: 5px;



}

option{
background-color: gray;
}

#btn-enter{
padding: 7px 17px;
font-size: 14px;
background-color: #e50914;
border: none;
border-radius: 05px; 
color: white;
cursor: pointer;

}

#btn-enter:hover {
    background-color: #8f030a;
    color:white;
}


#main-content{
text-align: center;


}

h1, h2, h3{
color: rgb(255, 255, 255);

}
h2, h3{
font-weight: lighter;

}
.section-title{
font-size: 50px;
font-weight: 900;
}

.section-subtitle{
font-size: 25px;
}

h3{
font-size: 20px;
}

form{
display: flex;
justify-content: center;
}

#email{
height: 50px;
width: 500px;
padding: 10px;

}

#btn-star{
width: 200px;
font-size: 28px;
color: white;
background-color: #e50914;
border: none;
cursor: pointer;

}

placeholder{
color: rgba(255, 255, 255, 0.519);
font-size: 20px;

}
.section-dev{
background-color: black;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
margin-top: 8px;

}

summary{
background-color: rgb(49, 49, 49);
padding: 30px;
cursor: pointer;
color: white;
height: 22%;
border-bottom: 10px solid black;
width:1100px;
display: flex;
justify-content: space-between;
align-items:left;
font-size: 25px;
background-color: transparent;  
background-image: url(../img/mais.png);
background-repeat: no-repeat;
background-size: 35px;
background-position: right;
}

details{
cursor: pointer;
color: white;
height: 22%;
width: 100%;
max-width: 1200px;
display: flex;
justify-content:center;
}

details, summary:hover {
color: #fff;
background-color: rgb(63, 63, 63);

}

p{
padding: 20px;
align-items: center;
display: flex;
flex-direction: center;
color: white;
font-size: 25px;

    }


section{
background-color: black;
display: flex;
flex-direction: column ;
justify-content: center;
align-items: center;
margin-top: 8px;
}    



#btn-two{
padding: 6px 20px;
font-size: 14px;
background-color: #e50914;
border: none;
border-radius: 05px; 
color: white;
font-weight: bold;
width: 150px;


}

#e-mail{
    height: 35px;
    width: 400px;
    padding: 10px;
    
    }


.section-footer{
background-color: black;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
margin-top: 8px;
text-decoration: underline;
padding: auto;
}

.footer-p{
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
    color: rgb(125, 122, 122);
    display: flex;
    justify-content:space-around;

}

.footer-end{
font-size: 14px;
font-weight: bold;
color: rgb(125, 122, 122);

}
